<div id="cryptoon-layout" class="theme-blue">
    <!-- main body area -->
        <div class="main p-2 py-3 bg-white bg-login bg-cover bg-fixed">

            <!-- Body: Header -->
            <div class="container-xxl">
                <!-- header rightbar icon -->
                <div class="row flex-center position-relative min-vh-100 g-0">
                    <div class="col-11 col-sm-10 col-xl-8">
                        <div class="card border border-translucent auth-card">
                            <div class="card-body pe-md-0">
                                <div class="row g-3 align-items-center gx-0 gy-3">
                                    <p class="text-center">
                                        <img src="assets/images/ICRA_Analytics.svg" width="200">
                                    </p>
                                    <h5  style="text-align: center;">You have been successfully logged out</h5>
                                    <h3 style="text-align: center; ">Thank you for using InvIT</h3>
                                    <p style="text-align: center;"><a href="index.html" class="btn btn-primary mt-1">Back to Login</a></p>
                                </div>
                            </div>
                        </div>
                       <p class="small text-muted text-center mt-1">Copyright © 2023 IAL, All rights reserved.</p> 
                    </div>
                </div>
            </div>
        </div>
    </div>



<!--  BEGIN CONTENT AREA  
<div>
    <div class="main-content">
        <div>
            <div id="headerWrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-12 text-center">
                        </div>
                    </div>
                </div>
            </div>
    
            <div id="privacyWrappezr" class="">
                <div class="privacy-container">
                    <div class="privacyContent">
    
                        <div class="justify-content-between privacy-head">
                            <div class="privacyHeader">
                                <p style="text-align: center;">
                                    <img src="assets/images/ICRA_Analytics.svg" width="200">
                                </p>
                                <h1 style="text-align: center; font-size: 30px;">Thank you for using IAL</h1>
                            </div>
                        </div>
                        <div class="privacy-content-container">
                            <section>
                                <h5  style="text-align: center;">You have been successfully logged out</h5>
                                <p style="text-align: center;"><a href="index.html" class="btn btn-primary mt-1">Back to Login</a></p>
                                
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
        
    </div>
    </div>
  END CONTENT AREA  -->
    
    